.horizontal_stack_frame_overlay_2024_07_05 {
  /*POSITION*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  /*STYLE*/
  border-radius: 11px;
  border: 1px solid #838383;
  background-color: #838383;
  opacity: 0.16;

  box-sizing: border-box;
  display: inline-block;

  pointer-events: none;
  animation: horizontal_stack_frame_overlay_2024_07_05_dragover_animation 0.18s
    ease-in-out;
}
@keyframes horizontal_stack_frame_overlay_2024_07_05_dragover_animation {
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0.24;
  }
  100% {
    opacity: 0.16;
  }
}

.horizontal_stack_resizer_2024_07_05 {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50px;
  max-height: 100%;
  width: 4px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #292929;
  cursor: ew-resize;
}
.horizontal_stack_resizer_2024_07_05:active {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 4px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #0078d4;
  cursor: ew-resize;
}
.horizontal_stack_resizer_2024_07_05_onhover {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 4px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #0078d4;
  cursor: ew-resize;
}
.horizontal_stack_resizer_2024_07_05_ondragover {
  transition: all 0.16s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 256px;
  width: 4px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #292929;
  cursor: ew-resize;
}
